<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ paper.title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

   <!-- including algolia insights client-->
    <script src="/static/js/detail_algoliaInit.js"></script>

</head>
<body>
    <h1>Current Research</h1>
    <div>
        <h2>{{ paper.title }}</h2>

        <p>Arxiv ID:</p>
        <p>{{ paper.objectID }}</p>

        <p>Authors:</p>
        <p>{{ paper.authors_parsed }}</p>

        <p>Journal Reference:</p>
        <p>{{ paper.journal_ref }}</p>

        <p>Categories:</p>
        <p>{{ paper.categories }}</p>

        <p>Date:</p>
        <p>{{ paper.first_version_date }}</p>
    </div>
    <div>
        <p>Abstract:</p>
        <p>{{ paper.abstract }}</p>
    </div>
    <a href="/">Back</a>
    <button id="likeButton">Like</button>


    {% if session %}
    <script src="https://cdn.auth0.com/js/auth0/9.11/auth0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="static\js\detail_like.js"></script>
    {% else %}
    <script></script>
    {% endif %}


    <!-- Auth0: user profile -->
    {% if session %}
    <h3>Welcome, {{session.userinfo.name}}!</h3>
    <p><a href="/logout" id="qsLogoutBtn">Logout</a></p>
    {% else %}
    <h3 id="profileDropDown">Welcome, Guest!</h3>
    <p><a href="/login" id="qsLoginBtn">Login</a></p>
    {% endif %}
</body>
</html>
