<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8" />
    <title>Current Research</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Current Research</h1>
    <label for="search-input"></label><input type="text" id="search-input" placeholder="Search...">
    <button id="search-button">Search</button>
    <ul id="results"></ul>

    <!-- Auth0: user profile -->
    {% if session %}
    <h3>Welcome, {{session.userinfo.name}}!</h3>
    <p><a href="/logout" id="qsLogoutBtn">Logout</a></p>
    <div><pre>{{pretty}}</pre></div>
    {% else %}
    <h3 id="profileDropDown">Welcome, Guest!</h3>
    <p><a href="/login" id="qsLoginBtn">Login</a></p>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4"></script>
    <script>
        const searchClient = algoliasearch('SF0IKHXEOM', 'd230e775381cdb00d71055ca68ce0a32');
        const index = searchClient.initIndex('test_arXiv');
        const searchInput = document.getElementById('search-input');
        const searchButton = document.getElementById('search-button'); // Added this line
        const resultsList = document.getElementById('results');

        // Event listener for the search button
        searchButton.addEventListener('click', () => {
            performSearch();
        });


        // Event listener for Enter key press
        searchInput.addEventListener('keydown', event => {
            if (event.key === 'Enter') {
                performSearch();
            }
        });


        // Function to perform the search
        function performSearch() {
            const query = searchInput.value;

            // Perform a search
            index.search('query', {
                clickAnalytics: true
            })
                .then(({ hits }) => {
                    displayResults(hits);
                })
                .catch(err => {
                    console.error(err);
                });
        }


        //Function to display results
        function displayResults(results) {
            resultsList.innerHTML = '';

            if (results.length === 0) {
                resultsList.innerHTML = '<li>No results found.</li>';
            } else {
                results.forEach(result => {
                    const li = document.createElement('li');

                    // Create a hyperlink for the result's title
                    const link = document.createElement('a');
                    link.href = `/detail/${result.objectID}`; // Link to the detail page with the objectID

                    // Set the title as the link text
                    link.textContent = result.title;

                    // Append the hyperlink to the list item
                    li.appendChild(link);

                    // Append the list item to the results list
                    resultsList.appendChild(li);
                });
            }
        }
    </script>

</body>
</html>
