<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8" />
    <title>Current Research</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Current Research</h1>
    <label for="search-input"></label><input type="text" id="search-input" placeholder="Search...">
    <button id="search-button">Search</button>
    <ul id="results"></ul>

    <!-- Auth0: user profile -->
    {% if session %}
    <h3>Welcome, {{session.userinfo.name}}!</h3>
    <p><a href="/logout" id="qsLogoutBtn">Logout</a></p>
    <div><pre>{{pretty}}</pre></div>
    {% else %}
    <h3 id="profileDropDown">Welcome, Guest!</h3>
    <p><a href="/login" id="qsLoginBtn">Login</a></p>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4"></script>
    <script src="/static/js/index_search.js"></script>
</body>
</html>
